.app {
	max-width: 1024px;
	margin: 0 auto;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin-bottom: 2rem;

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
		font-weight: 500;

		select {
			outline: none;
			cursor: pointer;
			background-color: #2d2c2d;
			color: white;
			border-radius: 0.25rem;
			padding: 0.375rem 0.5rem;
			border-color: var(--gradient-blue-start);
			font-size: 12pt;
		}
	}
}

.button {
	padding: 0.75rem 1.25rem;
	font-weight: 600;
	border-radius: 0.375rem;
	display: block;
	margin: 0 auto;
	background: linear-gradient(
		to right,
		var(--gradient-blue-start),
		var(--gradient-blue-stop)
	);
}

.modalImage {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}
