.root {
  position: fixed;
  inset: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  perspective: 1000px;
  z-index: 99999;

  &.enter {
    > .backdrop {
      opacity: 0;
    }
  }

  &.enterActive {
    > .backdrop {
      opacity: 1;
      transition: opacity calc(var(--timeout) * 1ms) ease;
    }
  }

  &.exit {
    > .backdrop {
      opacity: 1;
    }
  }

  &.exitActive {
    > .backdrop {
      opacity: 0;
      transition: opacity calc(var(--timeout) * 1ms) ease;
    }
  }

  // CONTENT TRANSITIONS

  &.fade {
    &.enter {
      > .content {
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        opacity: 1;
        transition: opacity calc(calc(var(--timeout) * 1ms) * 0.8)
          calc(calc(var(--timeout) * 1ms) * 0.2) ease;
      }
    }

    &.exit {
      > .content {
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        opacity: 0;
        transition: opacity calc(calc(var(--timeout) * 1ms) * 0.8)
          calc(calc(var(--timeout) * 1ms) * 0.2) ease;
      }
    }
  }

  &.fade-left {
    &.enter {
      > .content {
        transform: translateX(-10vw);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: translateX(-10vw);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.fade-right {
    &.enter {
      > .content {
        transform: translateX(10vh);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: translateX(10vw);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.fade-top {
    &.enter {
      > .content {
        transform: translateY(-10vh);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: translateY(-10vh);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.fade-bottom {
    &.enter {
      > .content {
        transform: translateY(10vh);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: translateY(10vh);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.slide-left {
    &.enter {
      > .content {
        transform: translateX(-100vw);
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
      }
    }

    &.exitActive {
      > .content {
        transform: translateX(-100vw);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.slide-right {
    &.enter {
      > .content {
        transform: translateX(100vw);
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
      }
    }

    &.exitActive {
      > .content {
        transform: translateX(100vw);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.slide-top {
    &.enter {
      > .content {
        transform: translateY(-100vw);
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
      }
    }

    &.exitActive {
      > .content {
        transform: translateY(-100vw);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.slide-bottom {
    &.enter {
      > .content {
        transform: translateY(100vw);
      }
    }

    &.enterActive {
      > .content {
        transform: translate(0);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: translate(0);
      }
    }

    &.exitActive {
      > .content {
        transform: translateY(100vw);
        transition: transform calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.spin-cw {
    &.enter {
      > .content {
        transform: rotate(-120deg) scale(0.5);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotate(0) scale(1);
        opacity: 1;

        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotate(0) scale(1);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotate(-120deg) scale(0.5);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.spin-ccw {
    &.enter {
      > .content {
        transform: rotate(120deg) scale(0.5);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotate(0) scale(1);
        opacity: 1;

        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotate(0) scale(1);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotate(120deg) scale(0.5);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.rotate-left {
    &.enter {
      > .content {
        transform: rotateY(100deg);
        transform-origin: calc(50% - 50vw) center;
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotateY(0deg);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotateY(0deg);
        transform-origin: calc(50% - 50vw) center;
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotateY(100deg);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.rotate-right {
    &.enter {
      > .content {
        transform: rotateY(-100deg);
        transform-origin: calc(50% + 50vw) center;
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotateY(0deg);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotateY(0deg);
        transform-origin: calc(50% + 50vw) center;
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotateY(-100deg);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.rotate-top {
    &.enter {
      > .content {
        transform: rotateX(-100deg);
        transform-origin: center calc(50% - 50vh);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotateX(0deg);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotateX(0deg);
        transform-origin: center calc(50% - 50vh);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotateX(-100deg);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.rotate-bottom {
    &.enter {
      > .content {
        transform: rotateX(100deg);
        transform-origin: center calc(50% + 50vh);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: rotateX(0deg);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: rotateX(0deg);
        transform-origin: center calc(50% + 50vh);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: rotateX(100deg);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.zoom-in {
    &.enter {
      > .content {
        transform: scale(0.5);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: scale(1);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: scale(0.5);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }

  &.zoom-out {
    &.enter {
      > .content {
        transform: scale(1.2);
        opacity: 0;
      }
    }

    &.enterActive {
      > .content {
        transform: scale(1);
        opacity: 1;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }

    &.exit {
      > .content {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.exitActive {
      > .content {
        transform: scale(1.2);
        opacity: 0;
        transition: transform calc(var(--timeout) * 1ms) ease,
          opacity calc(var(--timeout) * 1ms) ease;
      }
    }
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.content {
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 100%;
  min-height: 0;
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 0.75rem 1rem;
  background-color: #d1d5db;
  border-radius: 0.25rem;
}

.closeButton {
  margin-left: auto;
  font-size: 24px;

  > * {
    display: block;
  }
}

.body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 1rem 1.25rem;

  /*
  You can either use overscroll-behavior: none; to disable scroll or the useDisableScroll() hook.
  The downside of this css method is that the scroll for the main body
  is still visible even if the modal is open and its not supported on some browsers.
  */
  // overscroll-behavior: none;
}
